body{
    background-color: black;
    color: white;
}
.nav-contain{
    border: solid;
    border-color: white #f00251;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 1%;
}

.list-style{
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.list-style:hover{
    box-shadow: 0 3px 0 0 #f00251;
}
.hidden{
    display: none;
}
.active-list{
    box-shadow: 0 3px 0 0 #f00251;
    letter-spacing: 0.09em;
    text-shadow: 2px 2px 4px white ;
}
/* ------------------- Lander Styling Starts here ---------*/
.header{
    margin-top: 20%;
    margin-left: 10%;
    
}
.lander-text{
    color: white;
    font-size: 45px;

}
.lander-desc{
    color: white;
    font-size: 25px;
}
.interact{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 60%;
}
.interact-text{
   font-size: 40px;
   cursor: pointer;
}
.interact-result{
    width: 125px;
}
.interact-result-2{
    width: 50px;
}
/*-----------------PLAY DESIGN STARTS HERE--------*/

.PlayDesign{
    display: flex;
    flex-direction: column;
    
    margin-left: 30%;
    margin-top: 7%;
    gap: 50px;

}
.PlayAttempt{
    display: flex;
    gap: 25px;
    align-items: center;
}
#PlayWordDesign{
    
    left: 0;  
    width: 80px;
    height: 80px;
    border: solid ;
    border-color: white;
    transition: 0.5s;
    
}
.PlayLetterDesign{
    display: absolute;
    text-align: center; 
   transition: 1s;
   
}
#PlayWordDesign:hover{
    border-color:  #f00251;
    transform: translateY(-10px);
}
.PlayLetterInnerLooks{
    display: inline-block;
    font-size: 25px;
    
}
.hideWord{
    visibility: hidden;
}
.rightPlace{
    background-color: #34eb71;
    opacity: 0.7;
}
.rightWord{
    background-color: #ebeb34;
    opacity: 0.7;
}
.attempt{
    width: 70%;
    padding-top: 10px ;
    padding-bottom: 10px ;
    background-color: black;
    border: solid;
    color: white;
    border-color: white;
    text-align: center;
    font-size: 22px;
    border-radius: 3px;
    transition: 0.5s;
    
}
.attempt:hover{
    border-color: #f00251;
}
.attempt::placeholder{
    text-align: center;
    color: white;
}
#answer,#meaning{
    font-size: 25px;
    display: inline-block;
    margin-left: 0;
    transition: 0.5s;
}
#answer:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 0 0 white;
}
#meaning{
    font-size: 20px;
    margin-left: 1%;
}

.answerContent{
    display: flex;
    gap: 5px;
    align-items: center;
}
.anim-meaning{
    animation-name: meaningTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.colorOne{
    transition: 1.5s;
}
.colorTwo{
    transition: 1.5s;
}
.colorThree{
    transition: 1.5s;
}
.colorFour{
    transition: 1.5s;
}
@keyframes meaningTransition {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/*-------------ANALYSIS PAGE CSS------------*/

.containAnalysis{
    display: flex;
    margin-left: 7%;
    margin-top: 7%;
    gap: 35%;
}
#AnalysisNames{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 250px;
    overflow-y: scroll;
}
.nameDesign{
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}
.nameDesign:hover{
    box-shadow: 0 2px 0 0 white;
}
.AnalysisDetails{
    border: solid;
    border-color: white;
    min-width: 45%;
    min-height: 45vh;
    margin-right: 4%;
}
#AnalysisHeader{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}
.activeName{ /* name is active clicked*/
    box-shadow: 0 2px 0 0 white;
    color: #f00251;
}
#AnalysisDef,#AnalysisPoints{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
}
#AnalysisDef{
    margin-top: 15%;
}
.AnalysisAccuracy{
    margin-top: 5%;
    margin-left: 7%;
    font-size: 30px;
}
.AccuracyTitle{
    display: inline-block;
    transition: 0.5s;
}
.AccuracyActive{ /* Accuracy is active clicked*/
    animation-name: Accuracy-up;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.AccuracyTitle:hover{
    box-shadow: 0 3px 0 0 #f00251;
}
#AnalysiDescription{
    font-size: 25px;
    margin-top: 1%;
}
@keyframes Accuracy-up {
    100%{
        transform: translateY(-5px);
        box-shadow: 0 3px 0 0 #f00251;
    }
}
